clickhouse-driver
duckdb
fire
implicit
joblib
nltk
numpy
pandas
psycopg2-binary
pylint
PyYAML
requests
scikit_learn
scipy
pyarrow
mlflow
boto3
matplotlib
protobuf
fastapi
uvicorn[standard]
httpx
fastapi-utils
